:root {
    --fheader: 'Oi', cursive;
    --ftexto: 'Montserrat', Sans-serif;

    --primario: #86eac2;
    --secundario: #e27b60;
    --blanco: #ffffff;
    --claros: #f0f4ef;    
    --medios: #638476;
    --negros: #171717;
}

/*Globales*/

html {
    font-size: 62.5%;       /* 1rem = 10px */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    background-color: var(--claros);
}

.wd100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wd1920 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.h100 {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

*, *::before, *::after {
    box-sizing: inherit; 
}

h1 {
    font-family: var(--fheader);
    font-size: 5rem;
}

h2 {
    font-family:  var(--ftexto);
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family:  var(--ftexto);
    font-size: 3rem;
    font-weight: 400;
}

p {
    font-family: var(--ftexto);
    font-size: 2rem;
    font-weight: 400;
    color: var(--medios);
}

/* Navbar ------------------------------*/

header {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 10vh;
    top: 0;
    z-index: 1000;
}

.navbar {
    position: relative;
    height: 100%;
    right: 0;
    width: 100%;
    border: 1px solid var(--negros);
    background-color: var(--claros);
  }

  /* logo header */
.isologoheader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;  
}

.isologoheader svg {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Salto a index header */
.saltoindex {
    position: absolute;
    top: 0;
    left: 20%;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medios);
    color: var(--claros);
    border-left: 1px solid var(--negros);    
    border-right: 1px solid var(--negros);    
    animation: parpadeoFondo 1.5s ease-in-out infinite;
    transition: opacity 0.5s ease-in-out;
}

.saltoindex svg {
    width: 70px;
    height: auto;
    transform: scaleY(-1);
}

.saltoindex:hover {
    animation: none;
    background-color: var(--primario);
    transition: background-color 0.3s ease;
}

.saltoindex:not(:hover) {
    transition: background-color 1s ease;
}

.flechasp {
    stroke: var(--claros);
    fill: transparent;
    stroke-width: 1px;
}

.saltoindex:hover .flechasp {
        fill: var(--claros);
        stroke: transparent;
}

/* header navbar user list */
nav ul {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    gap: 2rem;
    list-style: none;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
}

nav li {
    flex: 1;
}

nav li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: var(--ftexto);
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--negros);
    text-align: center;
    transition: color 0.3s ease;
}


/* Subrayado animado */
nav li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1rem;
    left: 0%;
    background-color: var(--negros);
    transition: width 0.3s ease, left 0.3s ease;
}

nav li a:hover::after {
    width: 100%;
    left: 0;
}

nav li a::before {
    content: '✦'; /* Puedes usar otros: ✦ ✱ → ★ 🡆 */
    margin-right: 0.5rem;
    color: var(--negros);
    font-size: 0.7em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav li a:hover::before {
    opacity: 1;
}
/* ------------------------------------------------ */

/*Inicio contenido*/
main {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--medios);
}

.intro-index {
    height: 100vh;  
    position: relative;
    pointer-events: none;
    background-color: var(--claros);
    border-left: 1px solid var(--negros);
    border-right: 1px solid var(--negros);    
}


/*logo hero */
.logo-wrapper {
    position: fixed;
    bottom: 40%;
    left: 20%;
    width: 40%;
    height: auto;
    z-index: 50;
    padding-right: 3rem;
}

.koudk,
.koudo,
.koudu,
.koudd,
.iso {
    fill: transparent;
    stroke: var(--negros);
    stroke-width: 0.3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 7s ease forwards;
    transition: fill 0.2s ease;
}

.koudk:hover,
.koudo:hover,
.koudu:hover,
.koudd:hover,
.iso:hover {
        fill: var(--primario);
        transition: stroke 0.5s ease;
}

.koudk:not(:hover),
.koudo:not(:hover),
.koudu:not(:hover),
.koudd:not(:hover),
.iso:not(:hover) {
    transition: fill 3s ease;

}

/* Animación de trazo */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


/* Intro index - Sección 1 */
.intro-h1 {
    position: absolute;
    display: block;
    bottom: 20%;
    right: 40%;
    width: 40%;
    padding-right: 3rem;
    text-align: right;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

body.loaded .intro-h1 {
  opacity: 1;
  transform: translateY(0);
}

.intro-index p {
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 30%;
    right: 10%;
    margin-top: 2rem;
}

.ctaservicios {
    position: absolute;
    display: flex;
    height: 10vh;
    width: 100%;
    border-top: 1px solid var(--negros);
    border-bottom: 1px solid var(--negros);
    bottom: 0;
    pointer-events: auto;
    cursor: pointer;
}

.ctaservicios h2 {
    position: absolute;
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem; 
    right: 0;   
}

.saltoservicios {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    right: 40%;
    background-color: var(--medios);
    color: var(--claros);
    border-left: 1px solid var(--negros);    
    border-right: 1px solid var(--negros);    
    animation: parpadeoFondo 1.5s ease-in-out infinite;
}

@keyframes parpadeoFondo {
  0%, 100% {
    background-color: var(--medios);
  }
  50% {
    background-color: var(--primario);
  }
}

.saltoservicios svg {
    width: 70px;
    height: auto;
}

.ctaservicios:hover .saltoservicios {
    animation: none;
    background-color: var(--primario);
    transition: background-color 0.3s ease;
}


.ctaservicios:not(:hover) .saltoservicios {
    transition: background-color 1s ease;
}

.flechasi {
    stroke: var(--claros);
    fill: transparent;
    stroke-width: 1px;
}

.ctaservicios:hover .flechasi {
        fill: var(--claros);
        stroke: transparent;
}

/* Intro port / sección 2 */
.intro-port {
    height: 100vh;  
    position: relative;
    background-color: var(--claros);
    display: flex;
    z-index: 100;
}

.servicios {
    position: relative;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    border-left: 1px solid var(--negros);
}

.servh2 {
    position: absolute;
    height: 10vh;
    top: 20%;
    padding-right: 3rem;
}

.servlist {
    position: absolute;
    top: 40%;
    height: 40%;
    padding-right: 3rem;
}

.servlist li {
    flex: 1;
}

.servulli {
    display: block;
    font-family: var(--ftexto);
    font-size: 2.7rem;
    text-align: right;
    height: 25%;
}

.serv-desc {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    width: 40%;
    height: 100%;
    border-right: 1px solid var(--negros);
    border-left: 1px solid var(--negros);
}

.ventanaimg {
    position: relative;
    right: 0;
    width: 40%;
    height: 100%;
    border-right: 1px solid var(--negros);
    background-color: var(--secundario);
}

.serv-desc p {
    position: absolute;
    top: 40%;
    width: 70%;
}




