<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicios de comunicación visual para empresas y emprendedores: branding, diseño de papelería, ilustración, sitios web y más.">
    <title>Koud | Diseño para la comunicación visual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>

<body class="wd100">

    <header class="wd100">
            <nav class="navbar wd1920">

                <div class="isologoheader">
                    <svg version="1.1" id="isologoheader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 307.38 95.85">
                    <g>
                        <path class="st0" d="M277.79,28.23c-3.52-3.25-15.75-12.59-39.84-12.59c-0.18,0-17.98-0.18-36.65,7.66
                            c-11,4.62-20.16,11.06-27.26,19.18c-8.86,10.14-14.43,22.87-16.55,37.85l2.27,0.36c2.92-15.87,8.47-28.21,16.49-36.65
                            c6.83-7.16,15.06-11.06,23.83-11.24c14.67-0.33,27.26,9.69,30.75,24.37c2.89,13.09,14.55,22.9,28.51,22.9
                            c16.13,0,29.2-13.09,29.2-29.2C288.59,41.74,284.38,33.57,277.79,28.23z"/>
                        <path class="st0" d="M138.8,28.23c-3.52-3.25-15.75-12.59-39.84-12.59c-0.18,0-17.98-0.18-36.65,7.66
                            c-11,4.62-20.16,11.06-27.26,19.18c-8.86,10.14-14.43,22.87-16.55,37.85l2.27,0.36c2.92-15.87,8.47-28.21,16.49-36.65
                            c6.83-7.16,15.06-11.06,23.83-11.24c14.67-0.33,27.26,9.69,30.75,24.37c2.89,13.09,14.55,22.9,28.51,22.9
                            c16.13,0,29.2-13.09,29.2-29.2C149.59,41.74,145.39,33.57,138.8,28.23z"/>
                    </g>
                    </svg>
                </div>

                <div class="saltoindex"> 
                    <svg version="1.1" id="saltoservicios" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 87.2 46.4">
                    <polygon class="flechasp" points="66.6,5.7 43.6,28.7 20.6,5.7 8.7,5.7 43.6,40.6 78.5,5.7 "/>
                    </svg>
                </div>

                <ul class="navul">
                <li><a href="{{ url_for('index') }}" class="nav__enlace">Inicio</a></li>
                <li><a href="{{ url_for('portfolio') }}" class="nav__enlace">Portafolio</a></li>
                <li><a href="{{ url_for('contact') }}" class="nav__enlace">Contacto</a></li>
                </ul>

            </nav>            
        </>
    </header>

    <main class="wd100">

        <div class="logo-wrapper">
            <a class="logo" href="{{ url_for('index') }}" aria-label="Logotipo de Koud">

                <svg version="1.1" id="isologo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 199.3 104.5">
                <g id="logotipokoud">
                    <path class="koudk" d="M48.6,67.3L48.6,67.3H50V55.5h-1.5l0,0l-33.7,44.5V55.5H3.1v46.8h11.7l0,0l7.6-10.1c2.3-3,5-6,8-5.6
                        c1.6,0.2,2.8,1.6,3.8,4.2c2.3,6.3,6.2,9.1,9,10.3c2.4,1.1,4.5,1.2,5.3,1.2c0.1,0,0.2,0,0.3,0H50V90.7h-1.5c-3.3-0.2-6.2-1.7-9-3.2
                        c-4-2.1-7.8-4.1-12.1-1.7l4.9-6.4C41.4,67.3,46.5,67.3,48.6,67.3z"/>
                    <path class="koudo" d="M75.4,56.2c-12.9,0-23.3,10.4-23.3,23.3c0,12.9,10.4,23.3,23.3,23.3s23.3-10.4,23.3-23.3S88.3,56.2,75.4,56.2z
                        M63.7,98V61c3.4-2.2,7.4-3.4,11.8-3.4c4.2,0,8.1,1.2,11.4,3.2v37.3c-3.3,2.1-7.3,3.2-11.4,3.2C71.1,101.4,67.1,100.1,63.7,98z"/>
                    <path class="koudu" d="M147.6,56.1h-11.7v42c-3.4,2.1-7.4,3.4-11.6,3.4c-4.2,0-8.2-1.2-11.6-3.3v-42H101v23.4
                        c0,12.9,10.4,23.3,23.3,23.3c12.9,0,23.4-10.4,23.4-23.3l0,0V56.1z"/>
                    <path class="koudd" d="M173.3,56h-23.5v1.5h1.1c2.8,0.2,5.1,1.1,6.7,2.8c2.8,3,2.6,7.4,2.6,7.4v0.1v0.1c0,0.1,0.5,5.6-5,11.1
                        c-5.9,5.8-5.4,11.6-5.4,12.2c0,0.3,0,0.7,0,1l0,10.1v0.6h23.5c12.9,0,23.4-10.5,23.4-23.4C196.7,66.5,186.2,56,173.3,56z
                        M173.3,101.4h-12.6c-1.4-0.1-4.5-0.4-6.7-2.5c-1.9-1.8-2.8-4.3-2.8-7.7v-0.1c0-0.1-0.6-5.6,5-11.1c5.2-5.1,5.5-10.2,5.5-11.8
                        l0-10.6h11.8L173.3,101.4L173.3,101.4z"/>
                </g>
                <g id="isotipokoud">
                    <path class="iso" d="M185.7,12.3c-2.5-2.3-11.1-8.9-28.1-8.9c-0.1,0-12.7-0.1-25.8,5.4c-7.7,3.3-14.2,7.8-19.2,13.5
                        c-6.2,7.1-10.2,16.1-11.7,26.7l1.6,0.3c2.1-11.2,6-19.9,11.6-25.8c4.8-5,10.6-7.8,16.8-7.9c10.3-0.2,19.2,6.8,21.7,17.2
                        c2,9.2,10.2,16.1,20.1,16.1c11.4,0,20.6-9.2,20.6-20.6C193.3,21.8,190.4,16,185.7,12.3z"/>
                    <path class="iso" d="M87.8,12.3C85.4,10,76.8,3.4,59.8,3.4c-0.1,0-12.7-0.1-25.8,5.4c-7.7,3.3-14.2,7.8-19.2,13.5
                        C8.5,29.5,4.6,38.4,3.1,49l1.6,0.3c2.1-11.2,6-19.9,11.6-25.8c4.8-5,10.6-7.8,16.8-7.9c10.3-0.2,19.2,6.8,21.7,17.2
                        c2,9.2,10.2,16.1,20.1,16.1c11.4,0,20.6-9.2,20.6-20.6C95.4,21.8,92.5,16,87.8,12.3z"/>
                </g>
                </svg>

            </a>
        </div>

        <section class="intro-index wd1920">   

            <h1 class="intro-h1">Diseño para la comunicación visual.</h1>
            <p>Creo diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual.</p>
            <div class="ctaservicios">
                <h2 >Servicios</h2>
                <div class="saltoservicios"> 
                    <svg version="1.1" id="saltoservicios" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 87.2 46.4">
                    <polygon class="flechasi" points="66.6,5.7 43.6,28.7 20.6,5.7 8.7,5.7 43.6,40.6 78.5,5.7 "/>
                    </svg>
                </div>
            </div>            
           
        </section>

        <section class="intro-port wd1920">

            <div class="servicios">
                <h2 class="servh2">Servicios</h2>
                <ul class="servlist">
                    <li class="servulli">Branding</li>
                    <li class="servulli">Papelería</li>
                    <li class="servulli">Ilustración</li>
                    <li class="servulli">Diseño web</li>
                </ul>
            </div>
            <div class="serv-desc">
                    <p class="pbranding">Especializado en branding minimalista, modular y orgánico. Creo diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual. </p>
            </div>
                        <div class="ventanaimg">
                muestra
            </div>

        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>   
</body>
</html>
