<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicios de comunicación visual para empresas y emprendedores: branding, diseño de papelería, ilustración, sitios web y más.">
    <title>Koud | Diseño para la comunicación visual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>

<body class="wd100">

    <header class="wd100">
            <nav class="navbar wd1920">

                <div class="isologoheader">
                    <svg version="1.1" id="isologoheader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 307.38 95.85">
                    <g>
                        <path class="st0" d="M277.79,28.23c-3.52-3.25-15.75-12.59-39.84-12.59c-0.18,0-17.98-0.18-36.65,7.66
                            c-11,4.62-20.16,11.06-27.26,19.18c-8.86,10.14-14.43,22.87-16.55,37.85l2.27,0.36c2.92-15.87,8.47-28.21,16.49-36.65
                            c6.83-7.16,15.06-11.06,23.83-11.24c14.67-0.33,27.26,9.69,30.75,24.37c2.89,13.09,14.55,22.9,28.51,22.9
                            c16.13,0,29.2-13.09,29.2-29.2C288.59,41.74,284.38,33.57,277.79,28.23z"/>
                        <path class="st0" d="M138.8,28.23c-3.52-3.25-15.75-12.59-39.84-12.59c-0.18,0-17.98-0.18-36.65,7.66
                            c-11,4.62-20.16,11.06-27.26,19.18c-8.86,10.14-14.43,22.87-16.55,37.85l2.27,0.36c2.92-15.87,8.47-28.21,16.49-36.65
                            c6.83-7.16,15.06-11.06,23.83-11.24c14.67-0.33,27.26,9.69,30.75,24.37c2.89,13.09,14.55,22.9,28.51,22.9
                            c16.13,0,29.2-13.09,29.2-29.2C149.59,41.74,145.39,33.57,138.8,28.23z"/>
                    </g>
                    </svg>
                </div>

                <div class="saltoindex"> 
                    <svg version="1.1" id="saltoservicios" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 87.2 46.4">
                    <polygon class="flechasp" points="66.6,5.7 43.6,28.7 20.6,5.7 8.7,5.7 43.6,40.6 78.5,5.7 "/>
                    </svg>
                </div>

                <ul class="navul">
                <li><a href="{{ url_for('index') }}" class="nav__enlace">Inicio</a></li>
                <li><a href="{{ url_for('portfolio') }}" class="nav__enlace">Portafolio</a></li>
                <li><a href="{{ url_for('contact') }}" class="nav__enlace">Contacto</a></li>
                </ul>

            </nav>            
        </>
    </header>

    <main class="wd100">

        <section class="intro-index wd1920">   

            <h1 class="intro-h1">Diseño para la comunicación visual.</h1>
            <p>Diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual.</p>
            <div class="ctaservicios">
                <div class="ctaservwrap">
                    <h2 >Ver más</h2>
                    <div class="saltoservicios"> 
                        <svg version="1.1" id="saltoservicios" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 87.2 46.4">
                        <polygon class="flechasi" points="66.6,5.7 43.6,28.7 20.6,5.7 8.7,5.7 43.6,40.6 78.5,5.7 "/>
                        </svg>
                    </div>
                </div>
            </div>            
           
        </section>

        <section class="intro-port wd1920">

            <div class="servicios">
                <h2 class="servh2">Servicios</h2>
            </div>
            <div class="ventanas">

                <div class="ventanabox box1">
                    <div class="ventanaimgcard card1">
                        <div class="imgcardtodo">
                            <img class="imgcard" src="{{ url_for('static', filename='img/vastgoed-intro.png') }}" alt="servicedescription">
                            <p class="pbranding">
                                Especializado en branding minimalista, modular y orgánico.
                            </p>
                        </div>
                        <div class="cardtodo">
                            <h2>Branding</h2>
                            <h3>ver más</h3>
                        </div>
                        <span class="glare" aria-hidden="true"></span>
                    </div>
                </div>  

                <div class="ventanabox box2">  
                    <div class="ventanaimgcard card2">
                            <div class="imgcardtodo">
                                <img class="imgcard" src="{{ url_for('static', filename='img/vastgoed-intro.png') }}" alt="servicedescription">
                                <p class="pbranding">
                                    Especializado en branding minimalista, modular y orgánico. Creo diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual. 
                                </p>
                            </div>
                                <div class="cardtodo">
                                    <h2>Papelería</h2>
                                    <h3>ver más</h3>
                            </div>
                            <span class="glare" aria-hidden="true"></span>
                    </div>
                </div>
                
                <div class="ventanabox box3">
                    <div class="ventanaimgcard card3">
                            <div class="imgcardtodo">
                                <img class="imgcard" src="{{ url_for('static', filename='img/vastgoed-intro.png') }}" alt="servicedescription">
                                <p class="pbranding">
                                    Especializado en branding minimalista, modular y orgánico. Creo diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual. 
                                </p>
                            </div>
                            <div class="cardtodo">
                                <h2>Ilustración</h2>
                                <h3>ver más</h3>
                            </div>
                            <span class="glare" aria-hidden="true"></span>
                    </div>
                </div>
                
                <div class="ventanabox box3">
                    <div class="ventanaimgcard card4">
                        <div class="imgcardtodo">
                            <img class="imgcard" src="{{ url_for('static', filename='img/vastgoed-intro.png') }}" alt="servicedescription">
                            <p class="pbranding">
                                    Especializado en branding minimalista, modular y orgánico. Creo diseños intencionales y distintivos para personas emprendedoras y empresas que buscan destacar con claridad y consistencia visual. 
                            </p>
                        </div>
                    <div class="cardtodo">
                        <h2>Diseño web</h2>
                        <h3>ver más</h3>
                    </div>
                    <span class="glare" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>   
</body>
</html>
